body {
    width: 75%;
    margin: auto;
}

#queens table {
   border-collapse: collapse;
   border: 0px;
}

#queens td {
   border-collapse: collapse;
   border: 1px solid black;
   width: 3ex;
   height: 3ex;
   text-align: center;
}
